@font-face { font-family: CreatoDisplay;                    src: url('./CreatoDisplay/CreatoDisplay-Regular.otf'); }
@font-face { font-family: CreatoDisplay;                    src: url('./CreatoDisplay/CreatoDisplay-Bold.otf'); font-weight: bold; }
@font-face { font-family: CreatoDisplay;                    src: url('./CreatoDisplay/CreatoDisplay-RegularItalic.otf'); font-style: italic; }
@font-face { font-family: CreatoDisplay;                    src: url('./CreatoDisplay/CreatoDisplay-BoldItalic.otf'); font-weight: bold; font-style: italic; }

@font-face { font-family: CreatoDisplay-Black;              src: url('./CreatoDisplay/CreatoDisplay-Black.otf'); }
@font-face { font-family: CreatoDisplay-BlackItalic;        src: url('./CreatoDisplay/CreatoDisplay-BlackItalic.otf'); }
@font-face { font-family: CreatoDisplay-Bold;               src: url('./CreatoDisplay/CreatoDisplay-Bold.otf'); }
@font-face { font-family: CreatoDisplay-BoldItalic;         src: url('./CreatoDisplay/CreatoDisplay-BoldItalic.otf'); }
@font-face { font-family: CreatoDisplay-ExtraBold;          src: url('./CreatoDisplay/CreatoDisplay-ExtraBold.otf'); }
@font-face { font-family: CreatoDisplay-ExtraBoldItalic;    src: url('./CreatoDisplay/CreatoDisplay-ExtraBoldItalic.otf'); }
@font-face { font-family: CreatoDisplay-Italic;             src: url('./CreatoDisplay/CreatoDisplay-RegularItalic.otf'); }
@font-face { font-family: CreatoDisplay-Light;              src: url('./CreatoDisplay/CreatoDisplay-Light.otf'); }
@font-face { font-family: CreatoDisplay-LightItalic;        src: url('./CreatoDisplay/CreatoDisplay-LightItalic.otf'); }
@font-face { font-family: CreatoDisplay-Medium;             src: url('./CreatoDisplay/CreatoDisplay-Medium.otf'); }
@font-face { font-family: CreatoDisplay-MediumItalic;       src: url('./CreatoDisplay/CreatoDisplay-MediumItalic.otf'); }
@font-face { font-family: CreatoDisplay-Regular;            src: url('./CreatoDisplay/CreatoDisplay-Regular.otf'); }
@font-face { font-family: CreatoDisplay-Thin;               src: url('./CreatoDisplay/CreatoDisplay-Thin.otf'); }
@font-face { font-family: CreatoDisplay-ThinItalic;         src: url('./CreatoDisplay/CreatoDisplay-ThinItalic.otf'); }
